<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <description>Spring MVC Configuration</description>

    <!-- 加载配置属性文件shop.properties 里面是一些必须的配置参数  context:property-placeholder：动态加载属性配置文件以变量的方式引用需要的值-->
    <context:property-placeholder ignore-unresolvable="true" location="classpath:shop.properties"/>

    <!-- 使用 Annotation 自动注册 Bean,只扫描 @controller context:component-scan：当前配置文件为 MVC 相关，故只需要扫描包含 @controller 的注解即可，
    由于 spring-context.xml 配置文件中也配置了包扫描，所以还需要在spring-context.xml中排除 @controller 的注解扫描。-->
    <context:component-scan base-package="com.lu.ming.shop.web.ui" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- 开启mvc框架注解支持 默认的注解映射的支持  这句话不能丢否则注解就用不起来了-->
    <mvc:annotation-driven />

    <!-- 定义内部视图文件解析器 InternalResourceViewResolver：视图文件解析器的一种，用于配置视图资源的路径和需要解释的视图资源文件类型，
    这里有两个需要配置的属性 prefix（前缀）以及 suffix（后缀）。
    prefix：配置视图资源路径，如：/WEB-INF/views/
    suffix：配置视图资源类型，如：.jsp-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
<!--        前缀和后缀   在shop.properties设置值方便管理 视图解析器解析到这就会去shop.properties中取值-->
        <property name="prefix" value="${web.view.prefix}"/>
        <property name="suffix" value="${web.view.suffix}"/>
    </bean>

    <!-- 静态资源css、js映射 因为有的css文件放的比较深，路径会很长，所以设置这个全路径匹配映射-->
    <mvc:resources mapping="/static/**" location="/static/" cache-period="31536000"/>


    <!-- 上传文件拦截，设置最大上传文件大小 10M = 10*1024*1024(B) = 10485760 bytes -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="${web.multipartResolver}"/>
    </bean>

<!--    用于LoginIntercept的拦截器配置，防止用户登录过后，重复登录和注册-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/login"/>
            <mvc:mapping path="/regist"/>
            <bean class="com.lu.ming.shop.web.ui.intercept.LoginIntercept"></bean>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>